# Docker

docker run --help

docker run -it --entrypoint=bash python:3.9

# Ingesting HW dataset

In [20]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
import os

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-29 22:38:56--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T143856Z&X-Amz-Expires=300&X-Amz-Signature=ccaf6033bb44d424507c45bad0aef132c08d2ce3ff8545dcce789019745be7c0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-29 22:38:57--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T143856Z&X-Amz-Expires=300&X-Amz-Signature=ccaf6033bb44d424507c45bad0aef132c08d2ce3ff8545dcce789019745be7c0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: 'green_tripdata_2019-09.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 2.95M 3s
    50K .......... .......... .......... .......... ..........  1% 81.8M 1s
   100K .......... .......... .......... .......... ..........  1%  348M 1s
   150K .......... .......... .......... .......... ..........  2% 25.5M 1s
   200K .......... .......... .......... .......... ..........  3% 11.3M 1s
   250K .......... .......... .......... .......... ..........  3% 11.4M 1s
   300K .......... .......... .......... .......... ..........  4% 11.4M 1s
   350K .......... .......... .......... .......... ..........  5% 8.82M 1s
   400K .......... .......... .......... .......... ..........  5% 11.8M 1s
   450K .......... .......... .......... .......... ..........  6% 11.4M 1s
   500K .......... .......... .......... .......... ..........  7% 11.4M 1s
   550K .......... .......... .......... .......... ..........  7% 11.4M 1s
   600K .......... .......... .......... .......... ..........  8% 11.3M 1s
   650K .......... .......... .......... .......... ..........  9% 11.5M 1s
   700K .......... .......... .......... .......... ..........  9% 15.1M 1s
   750K .......... .......... .......... .......... .......... 10% 7.49M 1s
   800K .......... .......... .......... .......... .......... 11% 14.9M 1s
   850K .......... .......... .......... .......... .......... 11% 11.6M 1s
   900K .......... .......... .......... .......... .......... 12% 11.3M 1s
   950K .......... .......... .......... .......... .......... 13% 10.8M 1s
  1000K .......... .......... .......... .......... .......... 13% 11.9M 1s
  1050K .......... .......... .......... .......... .......... 14% 11.4M 1s
  1100K .......... .......... .......... .......... .......... 14% 11.4M 1s
  1150K .......... .......... .......... .......... .......... 15% 9.08M 1s
  1200K .......... .......... .......... .......... .......... 16% 11.4M 1s
  1250K .......... .......... .......... .......... .......... 16% 11.3M 1s
  1300K .......... .......... .......... .......... .......... 17% 15.2M 1s
  1350K .......... .......... .......... .......... .......... 18% 11.4M 1s
  1400K .......... .......... .......... .......... .......... 18% 11.3M 1s
  1450K .......... .......... .......... .......... .......... 19% 11.4M 1s
  1500K .......... .......... .......... .......... .......... 20% 11.3M 1s
  1550K .......... .......... .......... .......... .......... 20% 9.09M 1s
  1600K .......... .......... .......... .......... .......... 21% 11.4M 1s
  1650K .......... .......... .......... .......... .......... 22% 11.4M 1s
  1700K .......... .......... .......... .......... .......... 22% 11.3M 1s
  1750K .......... .......... .......... .......... .......... 23% 11.5M 1s
  1800K .......... .......... .......... .......... .......... 24% 11.3M 1s
  1850K .......... .......... .......... .......... .......... 24% 11.3M 1s
  1900K .......... .......... .......... .......... .......... 25% 15.0M 1s
  1950K .......... .......... .......... .......... .......... 26% 7.57M 1s
  2000K .......... .......... .......... .......... .......... 26% 15.1M 0s
  2050K .......... .......... .......... .......... .......... 27% 11.4M 0s
  2100K .......... .......... .......... .......... .......... 28% 11.4M 0s
  2150K .......... .......... .......... .......... .......... 28% 11.4M 0s
  2200K .......... .......... .......... .......... .......... 29% 11.4M 0s
  2250K .......... .......... .......... .......... .......... 29% 11.4M 0s
  2300K .......... .......... .......... .......... .......... 30% 11.4M 0s
  2350K .......... .......... .......... .......... .......... 31% 9.07M 0s
  2400K .......... .......... .......... .......... .......... 31% 11.3M 0s
  2450K .......... .......... .......... .......... .......... 32% 11.4M 0s
  2500K .......... .......... .......... .......... .......... 33% 15.2M 0s
  2550K .......... .......... .......... .......... .......... 33% 9.09M 0s
  2600K .......... .......... .......... .......... .......... 34% 11.4M 0s
  2650K .......... .......... .......... .......... .......... 35% 11.4M 0s
  2700K .......... .......... .......... .......... .......... 35% 11.4M 0s
  2750K .......... .......... .......... .......... .......... 36% 8.94M 0s
  2800K .......... .......... .......... .......... .......... 37% 11.7M 0s
  2850K .......... .......... .......... .......... .......... 37% 15.2M 0s
  2900K .......... .......... .......... .......... .......... 38% 11.4M 0s
  2950K .......... .......... .......... .......... .......... 39% 11.4M 0s
  3000K .......... .......... .......... .......... .......... 39% 11.3M 0s
  3050K .......... .......... .......... .......... .......... 40% 11.4M 0s
  3100K .......... .......... .......... .......... .......... 41% 11.4M 0s
  3150K .......... .......... .......... .......... .......... 41% 9.09M 0s
  3200K .......... .......... .......... .......... .......... 42% 11.3M 0s
  3250K .......... .......... .......... .......... .......... 43% 11.5M 0s
  3300K .......... .......... .......... .......... .......... 43% 11.3M 0s
  3350K .......... .......... .......... .......... .......... 44% 15.2M 0s
  3400K .......... .......... .......... .......... .......... 44% 11.4M 0s
  3450K .......... .......... .......... .......... .......... 45% 11.4M 0s
  3500K .......... .......... .......... .......... .......... 46% 11.4M 0s
  3550K .......... .......... .......... .......... .......... 46% 9.08M 0s
  3600K .......... .......... .......... .......... .......... 47% 11.4M 0s
  3650K .......... .......... .......... .......... .......... 48% 10.1M 0s
  3700K .......... .......... .......... .......... .......... 48% 13.0M 0s
  3750K .......... .......... .......... .......... .......... 49% 11.5M 0s
  3800K .......... .......... .......... .......... .......... 50% 11.3M 0s
  3850K .......... .......... .......... .......... .......... 50% 13.4M 0s
  3900K .......... .......... .......... .......... .......... 51% 12.7M 0s
  3950K .......... .......... .......... .......... .......... 52% 7.59M 0s
  4000K .......... .......... .......... .......... .......... 52% 15.2M 0s
  4050K .......... .......... .......... .......... .......... 53% 11.4M 0s
  4100K .......... .......... .......... .......... .......... 54% 11.4M 0s
  4150K .......... .......... .......... .......... .......... 54% 11.4M 0s
  4200K .......... .......... .......... .......... .......... 55% 11.3M 0s
  4250K .......... .......... .......... .......... .......... 56% 11.4M 0s
  4300K .......... .......... .......... .......... .......... 56% 11.3M 0s
  4350K .......... .......... .......... .......... .......... 57% 9.08M 0s
  4400K .......... .......... .......... .......... .......... 58% 11.4M 0s
  4450K .......... .......... .......... .......... .......... 58% 11.4M 0s
  4500K .......... .......... .......... .......... .......... 59% 15.2M 0s
  4550K .......... .......... .......... .......... .......... 59% 11.0M 0s
  4600K .......... .......... .......... .......... .......... 60% 11.7M 0s
  4650K .......... .......... .......... .......... .......... 61% 11.4M 0s
  4700K .......... .......... .......... .......... .......... 61% 11.4M 0s
  4750K .......... .......... .......... .......... .......... 62% 9.09M 0s
  4800K .......... .......... .......... .......... .......... 63% 11.4M 0s
  4850K .......... .......... .......... .......... .......... 63% 11.4M 0s
  4900K .......... .......... .......... .......... .......... 64% 11.2M 0s
  4950K .......... .......... .......... .......... .......... 65% 11.6M 0s
  5000K .......... .......... .......... .......... .......... 65% 14.6M 0s
  5050K .......... .......... .......... .......... .......... 66% 11.7M 0s
  5100K .......... .......... .......... .......... .......... 67% 11.4M 0s
  5150K .......... .......... .......... .......... .......... 67% 8.94M 0s
  5200K .......... .......... .......... .......... .......... 68% 11.6M 0s
  5250K .......... .......... .......... .......... .......... 69% 11.4M 0s
  5300K .......... .......... .......... .......... .......... 69% 11.4M 0s
  5350K .......... .......... .......... .......... .......... 70% 11.3M 0s
  5400K .......... .......... .......... .......... .......... 71% 11.4M 0s
  5450K .......... .......... .......... .......... .......... 71% 9.62M 0s
  5500K .......... .......... .......... .......... .......... 72% 20.0M 0s
  5550K .......... .......... .......... .......... .......... 73% 7.56M 0s
  5600K .......... .......... .......... .......... .......... 73% 15.3M 0s
  5650K .......... .......... .......... .......... .......... 74% 11.4M 0s
  5700K .......... .......... .......... .......... .......... 74% 11.4M 0s
  5750K .......... .......... .......... .......... .......... 75% 11.3M 0s
  5800K .......... .......... .......... .......... .......... 76% 11.4M 0s
  5850K .......... .......... .......... .......... .......... 76% 11.4M 0s

  5900K .......... .......... .......... .......... .......... 77% 11.4M 0s
  5950K .......... .......... .......... .......... .......... 78% 9.00M 0s
  6000K .......... .......... .......... .......... .......... 78% 11.4M 0s
  6050K .......... .......... .......... .......... .......... 79% 11.5M 0s
  6100K .......... .......... .......... .......... .......... 80% 11.3M 0s
  6150K .......... .......... .......... .......... .......... 80% 15.3M 0s
  6200K .......... .......... .......... .......... .......... 81% 11.3M 0s
  6250K .......... .......... .......... .......... .......... 82% 11.4M 0s
  6300K .......... .......... .......... .......... .......... 82% 11.4M 0s
  6350K .......... .......... .......... .......... .......... 83% 9.07M 0s
  6400K .......... .......... .......... .......... .......... 84% 11.4M 0s
  6450K .......... .......... .......... .......... .......... 84% 11.4M 0s
  6500K .......... .......... .......... .......... .......... 85% 11.4M 0s
  6550K .......... .......... .......... .......... .......... 86% 11.4M 0s
  6600K .......... .......... .......... .......... .......... 86% 11.3M 0s
  6650K .......... .......... .......... .......... .......... 87% 15.3M 0s
  6700K .......... .......... .......... .......... .......... 88% 11.4M 0s
  6750K .......... .......... .......... .......... .......... 88% 9.04M 0s
  6800K .......... .......... .......... .......... .......... 89% 11.4M 0s
  6850K .......... .......... .......... .......... .......... 89% 11.4M 0s
  6900K .......... .......... .......... .......... .......... 90% 10.6M 0s
  6950K .......... .......... .......... .......... .......... 91% 12.2M 0s
  7000K .......... .......... .......... .......... .......... 91% 11.4M 0s
  7050K .......... .......... .......... .......... .......... 92% 11.5M 0s
  7100K .......... .......... .......... .......... .......... 93% 11.4M 0s
  7150K .......... .......... .......... .......... .......... 93% 9.00M 0s
  7200K .......... .......... .......... .......... .......... 94% 11.5M 0s
  7250K .......... .......... .......... .......... .......... 95% 15.3M 0s
  7300K .......... .......... .......... .......... .......... 95% 11.4M 0s
  7350K .......... .......... .......... .......... .......... 96% 11.3M 0s
  7400K .......... .......... .......... .......... .......... 97% 11.4M 0s
  7450K .......... .......... .......... .......... .......... 97% 11.2M 0s
  7500K .......... .......... .......... .......... .......... 98% 11.0M 0s
  7550K .......... .......... .......... .......... .......... 99% 9.48M 0s
  7600K .......... .......... .......... .......... .......... 99% 11.4M 0s
  7650K .......... ..........                                 100%  537M=0.7s

2024-01-29 22:38:58 (11.2 MB/s) - 'green_tripdata_2019-09.csv.gz' saved [7854533/7854533]

In [4]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-29 22:39:39--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.212.160, 52.216.39.24, 16.182.108.160, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.212.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 2.70M=0.004s

2024-01-29 22:39:40 (2.70 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [5]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [6]:
engine.connect()

In [36]:
df=pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip')
#df.shape[0]
#df.head(0)
print(pd.io.sql.get_schema(df, 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

<ipython-input-36-e3122f6fbfd8>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip')

In [28]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', iterator=True, chunksize=100000)

In [29]:
df = next(df_iter)

In [30]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [31]:
df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [32]:
df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

1000

In [33]:
while True:
    t_start = time()
        
    df = next(df_iter)
        
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')
        
    t_end = time()
        
    print('inserted another chunck... %.3f' % (t_end - t_start))

inserted another chunck... 11.693
inserted another chunck... 11.585

<ipython-input-33-7e4f2a3a00f9>:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunck... 11.104
inserted another chunck... 5.922

StopIteration:

In [37]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
#df_zones.shape[0]
print(pd.io.sql.get_schema(df_zones, 'taxi+_zone', con=engine))

CREATE TABLE "taxi+_zone" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [35]:
df_zones.to_sql(name='zones+', con=engine, if_exists='replace')

265

# Question 3

In [38]:
query = """
SELECT COUNT(*) FROM green_taxi_trips
WHERE lpep_pickup_datetime >= '2019-09-18 00:00:00' AND lpep_pickup_datetime < '2019-09-19 00:00:00' 
AND lpep_dropoff_datetime >= '2019-09-18 00:00:00' AND lpep_dropoff_datetime < '2019-09-19 00:00:00'
"""
pd.read_sql(query, con=engine)

   count
0  15612

# Question 4

In [40]:
query = """
SELECT DATE(lpep_pickup_datetime), SUM(trip_distance) as "day trip distance"
FROM green_taxi_trips
GROUP BY DATE(lpep_pickup_datetime)
ORDER BY SUM(trip_distance) DESC
LIMIT 1
"""
pd.read_sql(query, con=engine)

         date  day trip distance
0  2019-09-26           58759.94

# Question 5

In [41]:
query = """
SELECT "Borough", SUM(total_amount) 
FROM 
	green_taxi_trips g,
	"zones+" z
WHERE
	g."PULocationID" = z."LocationID" AND lpep_pickup_datetime >= '2019-09-18 00:00:00' AND lpep_pickup_datetime < '2019-09-19 00:00:00'
GROUP BY "Borough"
HAVING SUM(total_amount) > 50000
"""
pd.read_sql(query, con=engine)

     Borough       sum
0   Brooklyn  96333.24
1  Manhattan  92271.30
2     Queens  78671.71

# Question 6

In [43]:
query = """
SELECT zpu."Zone" AS "Pickup Zone", MAX(tip_amount) AS "Max Tip", zdo."Zone" AS "Dropoff Zone" 
FROM
	green_taxi_trips g,
	"zones+" zpu,
	"zones+" zdo
WHERE
	g."PULocationID" = zpu."LocationID" AND g."DOLocationID" = zdo."LocationID" AND
	zpu."Zone" = 'Astoria' AND TO_CHAR(lpep_pickup_datetime, 'Month YYYY') = 'September 2019' 
GROUP BY zpu."Zone", zdo."Zone"
ORDER BY Max(tip_amount) DESC
LIMIT 1
"""
pd.read_sql(query, con=engine)

  Pickup Zone  Max Tip Dropoff Zone
0     Astoria    62.31  JFK Airport

# Question 7

MINGW64 ~/Documents/Learning/Zoomcamp/1_terraform_gcp/terrademo
$ terraform apply

Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the
following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.demo_dataset will be created
  + resource "google_bigquery_dataset" "demo_dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "demo_dataset"
      + default_collation          = (known after apply)
      + delete_contents_on_destroy = false
      + effective_labels           = (known after apply)
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + is_case_insensitive        = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "US"
      + max_time_travel_hours      = (known after apply)
      + project                    = "terraform-demo-412712"
      + self_link                  = (known after apply)
      + storage_billing_model      = (known after apply)
      + terraform_labels           = (known after apply)
    }

  # google_storage_bucket.demo-bucket will be created
  + resource "google_storage_bucket" "demo-bucket" {
      + effective_labels            = (known after apply)
      + force_destroy               = true
      + id                          = (known after apply)
      + location                    = "US"
      + name                        = "terraform-demo-412712-terra-bucket"
      + project                     = (known after apply)
      + public_access_prevention    = (known after apply)
      + rpo                         = (known after apply)
      + self_link                   = (known after apply)
      + storage_class               = "STANDARD"
      + terraform_labels            = (known after apply)
      + uniform_bucket_level_access = (known after apply)
      + url                         = (known after apply)

      + lifecycle_rule {
          + action {
              + type = "AbortIncompleteMultipartUpload"
            }
          + condition {
              + age                   = 1
              + matches_prefix        = []
              + matches_storage_class = []
              + matches_suffix        = []
              + with_state            = (known after apply)
            }
        }
    }

Plan: 2 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

google_bigquery_dataset.demo_dataset: Creating...
google_storage_bucket.demo-bucket: Creating...
google_bigquery_dataset.demo_dataset: Creation complete after 1s [id=projects/terraform-demo-412712/datasets/demo_dataset]
google_storage_bucket.demo-bucket: Creation complete after 1s [id=terraform-demo-412712-terra-bucket]

Apply complete! Resources: 2 added, 0 changed, 0 destroyed.